@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

div.pagination {
    margin-left: 60px;
    margin-right: 50px;
}

ul.pagination {
    display: table;
    padding: 0;
    width: 100%;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 50px;
}

ul.pagination li {
    display: table-cell;
    font-weight: normal;
    text-align: center;
}

ul.pagination li.active {
    display: table-cell;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li.disabled {
    display: table-cell;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    color: #7da630;
}

body {
    margin-bottom: 25px;
    padding: 0;
    background-color: rgb(0, 4, 1);
    background-image: url("https://ai-arena.net/static/img/background.gif");
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.86);
}

h1 {
    font-size: 28px;
    color: #86c232;;
}

a {
    color: #86c232;

}

.material-icons {
    font-size: 32px;
    padding-right: 12px;
    padding-top: 5px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

#page {
    background-color: rgba(0, 0, 0, 0);
    width: 1200px;
    margin: auto;
    padding-left: 0px;
}

#content {
    /* background-color: rgba(0, 0, 0, 0.13);*/
    overflow: auto;
    background: rgba(76, 76, 76, 0);
    background: -moz-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76, 76, 76, 0)), color-stop(50%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0) 100%);
    background: -o-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0.0) 100%);
    background: -ms-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0) 100%);
    background: linear-gradient(to right, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
}

#rules-short-instructions {
    margin: 0 auto;
    height: 220px;
    width: 480px;
    border: 2px solid #86c232;
    background-color: rgba(0, 0, 0, 0.2);

}

#rules-short-instructions span {
    top: 40px;
    float: left;
}

#rules-short-instructions h3 {
    padding: 0px;
    margin: 6px 0px;
}

.rules-short-instructions-content {
    padding-left: 20px;
    padding-top: 15px;
}

#rules-short {
    margin-left: 75px;
    margin-right: 75px;
}

#rules-short h2 {
    text-align: center;
}

#top10 {
    margin-left: 75px;
    margin-right: 75px;
}

#whatisaiarena {
    margin-left: 75px;
    margin-right: 75px;
}

#problems {
    margin-left: 75px;
    margin-right: 75px;
}

#contribute {
    margin-left: 75px;
    margin-right: 75px;
}

#sidebar {
    float: right;
    width: 12.0%;
}

#bot_details_bio {
    width: 88.0%;
    margin-left: 73px;
}

#bot_details {
    float: left;
    width: 35.0%;
}

#bot_details table {
    margin: 0;
    padding: 0;
    width: 100.0%;
}

#bot_bio {
    float: right;
    width: 60.0%;
}

#bot_bio table {
    margin: 0;
    width: 100.0%;
}

#bot_bio tbody {
    text-align: left;
}

#bot_wiki_article {
    padding: 0 10px 0 10px;
}

#bot_season_stats {
    float: left;
    width: 27.0%;
    margin-left: 73px;
}

#bot_season_stats table {
    margin: 0;
    padding: 0;
}

#bot_season_stats_matchups {
    margin: 0 0 0 73px;
}

#bot_season_stats_matchups table {
    margin: 0;
    padding: 0;
}

#elo_graph img{
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
}

#header {
    height: 200px;
    padding-top: 35px;
    width: 85.0%;
    align-content: center;
    overflow: auto;
    background: rgba(76, 76, 76, 0);
    background: -moz-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0.0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76, 76, 76, 0)), color-stop(50%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(19, 19, 19, 0)));
    background: -webkit-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0) 100%);
    background: -o-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0) 100%);
    background: -ms-linear-gradient(left, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0) 100%);
    background: linear-gradient(to right, rgba(76, 76, 76, 0) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(19, 19, 19, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
}

.float-half-left {
    float: left;
    width: 50%;
}

.float-half-right {
    float: right;
    width: 50%;
}

#type-left {
    float: left;
    width: 33%;
}

#type-right {
    float: right;
    width: 33%;
}

#type-middle {
    float: left;
    width: 33%;
    margin: 0;
}

#type-left h3 {
    font-size: 14px;
    color: #61892f;
}

#type-middle h3 {
    font-size: 14px;
    color: #61892f;
}

#type-right h3 {
    font-size: 14px;
    color: #61892f;
}

#type-left ul {
    height: 90px;
}

#type-right ul {
    height: 90px;
}

#type-middle ul {
    height: 90px;
}

#rules-content {
    padding-left: 75px;
    padding-right: 75px;
}

#header h1, #header h2 {
    font-family: 'Gugi', cursive;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    font-size: 42px;
    /*color: #faed26;*/
    color: #86c232;
}


#header h2 {
    color: rgba(14, 255, 0, 0.37);
    font-weight: normal;
    font-size: 16px;
}

#about h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

#about-content {
    background-color: #ffd;
    border: 1px solid #fc0;
    margin-left: -11px;
}

#about-content table {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    border-collapse: collapse;
}

#about-content td {
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#about-content td.name {
    color: #aba1a1
}

#about-content td.value {
    color: #866f6f
}

#about-content.failure {
    background-color: #fcc;
    border: 1px solid #fff;
}

#about-content.failure p {
    margin: 0;
    padding: 10px;
}

#getting-started {
    border-top: 1px solid #ccc;
    margin-top: 25px;
    padding-top: 15px;
}

#getting-started h1 {
    margin: 0;
    font-size: 20px;
}

#getting-started h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #523a3a;
    margin-bottom: 25px;
}

#getting-started ol {
    margin-left: 0;
    padding-left: 0;
}

#getting-started li {
    font-size: 18px;
    color: rgb(190, 255, 202);
    margin-bottom: 25px;
}

#getting-started li h2 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: rgba(230, 255, 231, 0.62);
}

#getting-started li p {
    color: rgba(255, 255, 255, 0.72);
    font-size: 13px;
}

#search {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}

#search input {
    font-size: 11px;
    margin: 2px;
}

#search-text {
    width: 170px
}

#sidebar ul {
    margin-left: 0;
    padding-left: 0;
}

#sidebar-items {
    float: left;
}

#sidebar ul h3 {
    margin-top: 15px;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#sidebar ul i {
    padding-bottom: 10px;
    padding-top: 0px;
    float: left;
}

#sidebar li {
    list-style-type: none;
}

#sidebar ul.links li {
    margin-bottom: 5px;
}


h1 .site-title {
    text-align: center;
}

p {
    line-height: 1.5em;
    margin: 1.6em 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code, .filepath, .app-info {
    font-family: 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

#footer {
    clear: both;
    padding-top: 2em;
    text-align: center;
    padding-right: 160px;
    font-family: sans-serif;
    font-size: 10px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


.divider-full {
    position: relative;
    margin-top: 10px;
    height: 1px;
}

.div-transparent-full:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(134, 194, 50), transparent);
}

#asshole {
    clear: both;
    padding-left: 75px;
}


.divider { /* minor cosmetics */
    display: table;
    /* font-size: 24px;*/
    text-align: center;
    width: 90%; /* divider width */
    margin: 10px auto; /* spacing above/below */
}

.divider span {
    display: table-cell;
    position: relative;
}

.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 30px; /* adjust vertical align */
    -moz-background-size: 100% 1px; /* line width */
    background-size: 100% 1px; /* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    pointer-events: none; /* Fix this blocking clicks on other elements */
}

.divider span:first-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgb(134, 194, 50)));
    background-image: -webkit-linear-gradient(180deg, transparent, rgb(134, 194, 50));
    background-image: -moz-linear-gradient(180deg, transparent, rgb(134, 194, 50));
    background-image: -o-linear-gradient(180deg, transparent, rgb(134, 194, 50));
    background-image: linear-gradient(90deg, transparent, rgb(134, 194, 50));
}

.divider span:nth-child(2) {
    color: #fff;
    padding: 0px 10px;
    width: auto;
    white-space: nowrap;
}

.divider span:last-child { /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(134, 194, 50)), to(transparent));
    background-image: -webkit-linear-gradient(180deg, rgb(134, 194, 50), transparent);
    background-image: -moz-linear-gradient(180deg, rgb(134, 194, 50), transparent);
    background-image: -o-linear-gradient(180deg, rgb(134, 194, 50), transparent);
    background-image: linear-gradient(90deg, rgb(134, 194, 50), transparent);
}

#authors_table {
    width: 90%;
    padding-left: 100px;
    overflow: hidden;

}

.author-avatar {
    float: left;
    position: relative;
}

.author-image-container {
    width: 150px;
    height: 150px;
    overflow: visible;
    margin: 10px;
    background-color: #fff;
}

.author-image {
    width: 150px;
    height: 150px;
    outline: 1px solid #86c232;
}

.author-name {
    position: relative;
    height: 40px;
    bottom: 40px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.author-name a {
    top: 10px;
    position: relative;
    font-size: 16px;
    color: #fff;
}

.patreon-base, .patreon-none, .patreon-bronze, .patreon-silver, .patreon-gold, .patreon-platinum, .patreon-diamond {
    position: absolute;
    top: 0;
    left: 8px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-repeat: no-repeat;
}

.patreon-none {
}

.patreon-bronze {
    background-image: url("/static/avatar/frames/bronze.png");
}

.patreon-silver {
    background-image: url("/static/avatar/frames/silver.png");
}

.patreon-gold {
    background-image: url("/static/avatar/frames/gold.png");
}

.patreon-platinum {
    background-image: url("/static/avatar/frames/platinum.png");
}

.patreon-diamond {
    background-image: url("/static/avatar/frames/diamond.png");
}

.bot-star-base, .bot-star-none, .bot-star-bronze, .bot-star-silver, .bot-star-gold, .bot-star-platinum, .bot-star-diamond {
    padding: 2px
}

.bot-star-none  {
    display: none
}

.bot-star-bronze  {
    color: #a56e19;
}

.bot-star-silver  {
    color: #8b9597;
}

.bot-star-gold  {
    color: #f1bd2f;
}

.bot-star-platinum  {
    color: #e5e4e2
}

.bot-star-diamond  {
    color: #d0e4e6
}

table {
    display: blocking;
    overflow: hiden;
    background-color: rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    border-collapse: collapse;

}

thead {
    background-color: rgba(97, 137, 47, 1); /*#61892f;*/
    color: #fffff;
    font-size: 16px;
    height: 100px;
}

/*td {
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;

}*/

tr:nth-child(even) {
   /* background-color: rgba(0, 0, 0, 0.3);*/
}

table.row-hover-highlight tbody tr:hover {
    background-color: rgba(97, 137, 47, 0.7); /*#61892f;*/
    color: #fffff;
}

tr:hover a:hover {
    color: #fffff;
}

tr:hover a {
    color: #fffff;
}

tr:hover a:focus {
    color: #fffff;
}

#top10 table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-left: 0;
}

#inner_content {
    width: 100%;
    float: right;
    margin: 0px;
    margin-bottom: 30px;
    margin-left: 50px;

}

#inner_content table {
    text-align: justify;
}

#inner_content tr:hover {
    background-color: rgba(0, 0, 0, 0)
}

.bot_details {
    padding-right: 20px;
    margin-bottom: 40px;
    margin-left: 50px;
}

#bot_results {
    margin: 0px;
    padding: 0px;
    float: right;
    width: 100%;
}

#bot_results table {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    margin-right: 50px;
    margin-left: 10px;
    text-align: justify;
    float: right;
}

#bot_results td {
    text-align: center;
}

.author-details-avatar-container{
    margin-left: 80px;
}

.author-detail-info{
    float: left;
    padding-left: 30px;
}

#author-bot_table{
    width: 85%;
    margin: 0px;
    padding: 0px;
    margin-left: 80px;
}

.bot_anker {
    margin-top: 20px;
    position:fixed;
    margin-left:-60px;
    padding-left: 0px;
}

.bot_anker h3{
    font-size: 16px;
    float:left;
    padding-bottom: -10px;
}

.anker_header{
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    padding-right:3px;
}

.bot_anker div{
    margin-right: 8px;
    margin-bottom: 5px;
    text-align: right;
}

.bot_anker i {
    padding-top: 12px;
    float: left;
}

.login-form {
    margin-left: 75px;
    margin-right: 75px;
    border: 2px solid #86c232;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
    height: 210px;
}

.form-box {
    float: left;
}

#pw-reset {
    float:left;
    margin-bottom: 20px;
    padding-top: 15px;
}

#register {
    float: left;
    margin-bottom: 20px;
}

.login-icon {
    float: left;
    padding:0px;
    margin: 0px;
    padding-top: 15px;
    padding-right: 10px;
}

.regi-icon {
    float: left;
    padding:0px;
    margin: 0px;
    padding-right: 10px;
}

.pw-reg-box {
    float: left;
    margin-right: 90px;
    padding-top: 50px;
    margin-left: 70px;
}

input {
    margin: 0 5px;

}

grd-head-cont tr input{
/*width:85%; */
}

#submit-button {
    text-align: center;
    width: 220px;
    height: 35px;
    font-size: 18px;
    background-color: #61892f;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: 0;
}

#submit-button:hover {
    background-color: #86c232;
}

#submit-button:disabled {
    background-color: #3d4536;
}

#profile_link_buttons {
    float: right;
    width: 150px;
    margin-right: 80px;
}

.profile-linked-button {
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 18px;
    background-color: #878787;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: 0;
    margin: 10px 0 10px 0;
}

.profile-link-button {
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 18px;
    background-color: #61892f;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: 0;
    margin: 10px 0 10px 0;
}

.profile-token-button {
    text-align: center;
    width: 150px;
    height: 30px;
    font-size: 18px;
    background-color: #61892f;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: 0;
    margin: 10px 0 10px 0;
}

#discord-link-button:hover {
    background-color: #86c232;
}

.registration-form{
    margin-left: 75px;
    margin-right: 75px;
    border: 2px solid #86c232;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.unlink-account-form{
    margin-left: 75px;
    margin-right: 75px;
    border: 2px solid #86c232;
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.mono{
    font-family: 'Cutive Mono', monospace;
    font-size: 14px;
}

.request-match-form {
    text-align: center;
    margin: 20px;
}

.request-match-bot {
    margin: 20px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

input[type="number"] {

	text-align: center;
}
input[type="text"] {

	text-align: center;
}

.grid-container-terran {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 7%;
    padding-right: 7%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.grid-container-protoss {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 7%;
    padding-right: 7%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;}

.grid-container-zerg {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 7%;
    padding-right: 7%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;}

.grid-item {
    min-height: 400px;
    border:none;
    padding: 20px, 0;
    font-size: 30px;
    text-align: center;

}

.grid-item iframe {
    width: 100%;
    height: 100%;
    border: none;
    background: None
}

.grid-item1 {
  width: 400px;
  height: 400px;
  text-align: center;
  margin: 10px auto;

}

.grid-item1 iframe {
  width: 400px;
  height: 400px;
  border: none;
  text-align: center;
  margin: 10px auto;
}

tr {
    min-height: 45px;
}

#elo_chart {
    width:85%;
    text-align:center;
    margin: 10px auto;
    height: 350px;
    overflow: hidden;
}

.btn {
    height: 30px;
    width: 220px;
    background-color: #86c232;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    padding-top:4px;
    position: relative;
    float: left;
}

.btn a {
    color: white;
}

.btn-wrapper {
    height: 50px;
    width: 500px;
    text-align: center;
    margin: 10px auto;
}

.myLoader {
    position:absolute; padding: 5px;
    margin:100px 0 0 5%; width:auto;
    z-index:1000; font-size:12px; font-weight:bold;
    border:1px solid #666; background:#ffffcc;
    vertical-align:middle;
}

.myStatus {
    width:auto; display:block;
}

.grd-main-cont{
    overflow: hidden;
    /*background-color: #f4f4f4;*/

    text-align:ellipsis;
    margin: 10px auto;

}

/* headers container */
.grd-head-cont{
    overflow: hidden;
    text-align: center;
   /* background-color: #4A4A4A; */
}

/* header cell */
.grd-head-cont th{
  /*  background-color: #4A4A4A; */
    /*padding: 0.5em 0.1em;*/
    color: #fff;
    /*border-right: 1px dotted #fff;*/
    min-height: 70px;
    overflow: hidden;
  /*text-overflow: ellipsis;*/

}

/* table container */
.grd-cont{
    /** background-color: #f4f4f4; */
    overflow-x: hidden;
    overflow-y: hidden;

}

/* cell */
.grd-cont td{
    padding: 0.5em 0.1em;
   /* background-color: rgba(0, 0, 0, 0.25); */
    /*border-bottom: 1px solid #ccc;
    border-right: 1px dotted #666;*/
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    height: 35px;

}

/* head and body tables */
.grd-head-cont table, .grd-cont table{
    /*font-size: 1.1em;*/
    border-collapse: collapse;

}

.grd-head-cont tr:nth-child(even)
{background-color: rgba(0, 0, 0, 0.3);}

/* bottom toolbar override */
.grd-main-cont > .grd_inf {
    background-color: rgba(97, 137, 47, 0.5);

}

.grd-cont  tr:hover {
    background-color: rgba(97, 137, 47, 0.7); /*#61892f;*/
    color: #fffff;
}
td {text-align: center;}

td img{
height: 0px;
width: 0px;
}


.enemy-grid-container-terran {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 7.5%;
    padding-right: 7.5%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.enemy-grid-container-protoss {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 7.5%;
    padding-right: 7.5%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;}

.enemy-grid-container-zerg {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 7.5%;
    padding-right: 7.5%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;}

.enemy-grid-item {
    min-height: 400px;
    min-width: 400px;
    border:none;
    padding: 20px 0;
    font-size: 30px;
    text-align: center;

}

.enemy-grid-item iframe {
    width: 100%;
    height: 100%;
    border: none;
    background: None;
    margin: 0 auto;
    text-align: center;
    padding: auto auto;

}

.enemy-grid-item1 {
  width: 400px;
  height: 400px;
  text-align: center;
  margin: 10px auto;

}

.enemy-grid-item1 iframe {
  width: 400px;
  height: 400px;
  border: none;
  text-align: center;
  margin: 10px auto;
}

button {
    height: 30px;
    width: 220px;
    background-color: #86c232;
    font-size: 18px;
    color: white;
    text-align: center;
    position: relative;
    float: left;
    border: none; }