<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>A.L.E.R.T. Statistics - Enemy: {{ game_data[0][2] }}</title>
		<link rel="stylesheet" type="text/css" href="/static/stats.css">
		<link href="https://fonts.googleapis.com/css?family=Gugi&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap" rel="stylesheet">
		<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="application/javascript" src="/static/piechart.js"></script>
		<script type="application/javascript" src="/static/semi_circle.js"></script>
		<script type="application/javascript" src="/static/tablefilter/tablefilter.js"></script>
	</head>

	<body>
		<script type="application/javascript" src="https://code.highcharts.com/highcharts.js"></script>
		<script type="application/javascript" src="https://code.highcharts.com/modules/boost.js"></script>
		<script type="application/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
		<script type="application/javascript" src="https://code.highcharts.com/modules/export-data.js"></script>
		<script type="application/javascript" src="https://code.highcharts.com/modules/accessibility.js"></script>

		<div class="divider"><span></span><span><h2>Enemy: {{ game_data[0][2] }}</h2></span><span></span></div>


		<br>

		    <div id="enemy-grid-item1">
        <div class="rules-short-instructions-content" id="rules-short-instructions">
            <span><i class="material-icons">assignment</i></span>
            <span> <h3>Best Stategies against {{ game_data[0][2] }}: </h3>
				<ul>
			 {% if win_strategy[0] %}
				<li><b>Terran: </b>{{ win_strategy[0][0][0] }}<br></li>
				{% endif %}
			{% if win_strategy[1] %}
				<li><b>Protoss: </b>{{ win_strategy[1][0][0] }}<br></li>
					{% endif %}

			{% if win_strategy[2] %}
				<li><b> Zerg: </b> {{ win_strategy[2][0][0] }}<br></li>
					{% endif %}
				</ul>
			<p >

				<div class="btn"> <button type="button" onclick="history.back(-1)">Back</button> </div>
		</p>
			</span>
			<br>


				 </div>
    </div>

		<br>
		<br>

		<div class="divider"><span></span><span><h2>Win Ratio</h2></span><span></span></div>
		<div class="enemy-grid-container-terran">
			<div class="enemy-grid-item"><iframe src="/piechart?chart_type=winloss&my_race=Race.Terran&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
			<div class="enemy-grid-item"><iframe src="/piechart?chart_type=winloss&my_race=Race.Protoss&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
			<div class="enemy-grid-item"><iframe src="/piechart?chart_type=winloss&my_race=Race.Zerg&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
		</div>

		<div class="divider"><span></span><span><h2>Strategy Win Ratio</h2></span><span></span></div>
		<div class="enemy-grid-container-terran">
			<div class="enemy-grid-item"><iframe src="/piechart?chart_type=winning_strategy&my_race=Race.Terran&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
			<div class="enemy-grid-item"><iframe src="/piechart?chart_type=winning_strategy&my_race=Race.Protoss&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
			<div class="enemy-grid-item"><iframe src="/piechart?chart_type=winning_strategy&my_race=Race.Zerg&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
		</div>

		<div class="divider"><span></span><span><h2>Enemy Unit Composition</h2></span><span></span></div>
		{%for row in game_data%}
			{% if row[4] == 'Race.Terran' %}
				<div class="enemy-grid-container-terran">
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Terran&enemy_race=Race.Terran&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Protoss&enemy_race=Race.Terran&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Zerg&enemy_race=Race.Terran&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
				</div>
				{% break %}
			{% endif %}
		{% endfor %}

		{%for row in game_data%}
			{% if row[4] == 'Race.Protoss' %}
				<div class="enemy-grid-container-protoss">
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Terran&enemy_race=Race.Protoss&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Protoss&enemy_race=Race.Protoss&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Zerg&enemy_race=Race.Protoss&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
				</div>
				{% break %}
			{% endif %}
		{% endfor %}

		{%for row in game_data%}
			{% if row[4] == 'Race.Zerg' %}
				<div class="enemy-grid-container-zerg">
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Terran&enemy_race=Race.Zerg&enemy_bot_id={{ enemy_bot_id }}" ></iframe></div>
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Protoss&enemy_race=Race.Zerg&enemy_bot_id={{ enemy_bot_id }}"></iframe></div>
					<div class="enemy-grid-item"><iframe src="/unitlist?my_race=Race.Zerg&enemy_race=Race.Zerg&enemy_bot_id={{ enemy_bot_id }}"></iframe></div>
				</div>
				{% break %}
			{% endif %}
		{% endfor %}

			<div class="divider"><span></span><span><h2>Results</h2></span><span></span></div>

		<table id="enemy_season_ranking_table">
		<thead>
			 <tr>
				<td>ID</td>
				<td>Enemy Name</td>
				<td>My Race</td>
				<td>Enemy Race</td>
				<td>Strategy</td>
				<td>Enemy Rush</td>
				<td>Enemy Tower Rush</td>
				<td>Enemy Worker Rush</td>
				<td>1st Attack Time</td>
				<td>Result</td>
				<td>Map</td>
				<td>Duration</td>
				<td>Date</td>
			</tr>
		</thead>

		{%for row in game_data%}
		<td>
			{{ row[0] }}
		</td>

		<td>
			{{ row[2] }}
		</td>

		<td>
			{{ row[3] | replace("Race.", "") }}
		</td>
		<td>
			{{ row[4] | replace("Race.", "") }}
		</td>

		<td>
			{{ row[5] }}
		</td>
		<td>
			{{ row[6] }}
		</td>

		<td>
			{{ row[7] }}
		</td>
		<td>
			{{ row[8] }}
		</td>

		<td>
			{{ row[9] }}
		</td>
		<td>
			{{ row[10]  | replace("Result.", "") }}
		</td>

		<td>
			{{ row[11]}}
		</td>
		<td>
			{{ row[12] | int }}
		</td>
		<td>
			{{ row[13] }}
		</td>

	</tr>
		{%endfor%}
		</table>
		<script>
			var filtersConfig = {
				base_path: '/static/tablefilter/',

				auto_filter: {
					delay: 1100
				},

				paging: {
				  results_per_page: ['Records: ', [25, 50, 100, 250]]
				},

				state: {
					types: ['local_storage'],
					filters: true,
					page_number: true,
					page_length: true,
					sort: true
				},

				sticky_headers: true,
				filters_row_index: 1,
				loader: true,
				state: true,

				grid_layout: {
					width: '1600px',
					filters: true,
					cont_css_class: 'grd-main-cont',
					tbl_head_css_class: 'grd-head-cont',
					tbl_cont_css_class: 'grd-cont'
				},

				alternate_rows: true,
				rows_counter: false,
				btn_reset: true,
				status_bar: true,
				toolbar: true,
				mark_active_columns: true,
				highlight_keywords: true,
				msg_filter: 'Filtering...',
				loader: {
					html: '<div id="lblMsg"></div>',
					css_class: 'myLoader'
				},
				status_bar: {
					target_id: 'lblMsg',
					css_class: 'myStatus'
				},
				col_2: 'select',
				col_3: 'select',
				col_4: 'select',
				col_9: 'select',
				col_10: 'select',
				col_widths: [
					"70px", "170px", "110px",
					"110px", "170px", "110px",
					"120px", "120px", "100px",
					"100px", "170px", "80px",
					"180px"
				],
				col_types: [
					'number', 'string', 'string',
					'string', 'string', 'number',
					'number', 'number', 'number',
					'string', 'string', 'number',
					'string'
				],
				extensions:[{
					name: 'sort'
				}]
			};

			var tf = new TableFilter('enemy_season_ranking_table', filtersConfig);
			tf.init();
		</script>
	</body>
</html>
