<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import Match History</title>
    <link rel="stylesheet" type="text/css" href="/static/stats.css">
</head>
<body>
    Imported {{ count }} Games, you can close this window now.
</body>
</html>