.activeHeader {
    background-color: #86c232 !important;
    color: #fff !important;
}

.activeCell {
    background-color: rgba(0, 0, 0, 0.075);
}

.even {
  /*  background-color: #fff;*/
  background-color: rgba(0, 0, 0, 0.3);
  width: 1600px;
}

.odd {
   /* background-color: #f9f9f9;*/
    width: 1600px; }

.ezActiveRow {
    background-color: #2852a8 !important;
    color: #fff;
}

.ezSelectedRow {
    background-color: #316ac5 !important;
    color: #fff;
}

.ezActiveCell {
    background-color: #d9e8fb !important;
    color: #000 !important;
    font-weight: bold;
}

.ezETSelectedCell {
    background-color: #ffdc61 !important;
    font-weight: bold;
    color: #000 !important;
}

.ezUnselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ezInputEditor {
    width: 85%;
    height: auto;
    font-size: inherit;
    /*border: 1px solid #aaccf6;*/
}

.ezTextareaEditor {
    width: 85%;
    height: 35px;
    font-size: inherit;
    /*border: 1px solid #aaccf6;*/
}

.ezSelectEditor {
    width: 85%;
    font-size: inherit;
   /* border: 1px solid #aaccf6;*/
}

.ezModifiedCell {
    background: transparent url("themes/bg_mod_cell.png") 0 0 no-repeat;
}

select[multiple="multiple"].ezSelectEditor {
    height: 35px;
}

.ezCommandEditor {
    margin: 2px;
}

.ezCommandEditor button,
.ezCommandEditor input[type="button"] {
    min-height: 22px;
    margin: 1px;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
}

.ezCommandEditor button:hover,
.ezCommandEditor input[type="button"]:hover {
    border: 1px solid #999;
}

.ezCommandEditor img {
    border: 0;
    vertical-align: middle;
    margin: 2px;
}

.ezOpacity {
    opacity: 0.6;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.div_checklist {
    width: 85%;
    height: 90px;
    line-height: 30px;
    /*border: 1px solid #f4f4f4;*/
    overflow: auto;
    text-align: left;
    background-color: #fff;
    color: #444;
}

.div_checklist ul.flt_checklist {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

.div_checklist li.flt_checklist_item {
    padding: 1px !important;
    margin: 0 !important;
    font-size: inherit;
   /* border-bottom: 1px solid #f4f4f4 !important;*/
}

.div_checklist li.flt_checklist_item:hover {
    background-color: #335ea8 !important;
    color: #fff !important;
}

.div_checklist label {
    display: block !important;
    font-weight: inherit !important;
}

.div_checklist input {
    vertical-align: middle !important;
    margin: 2px 5px 3px 1px !important;
}

.flt_checklist_item_disabled {
    background-color: #e5e5e5;
}

.flt_checklist_slc_item {
    background-color: #335ea8 !important;
    color: #fff !important;
}

.fltrow {
    height: 1em;
    background-color: #eaeaea;
}

.fltrow td {
   /* border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #ccc;
    border-right: 1px solid #f4f4f4;*/
    padding: 0.2em !important;
    width: 100%;
}

.fltrow td:last-child {
    /*border-right: 1px solid #ccc;*/
}

.btnflt {
    height: 35px;
    font-family: inherit;
    font-size: inherit;
    vertical-align: middle;
    margin: 0 2px 0 2px;
    padding: 0 1px 0 1px;
}

.btnflt_icon {
    font-family: inherit;
    font-size: inherit;
    width: 35px;
    height: 35px;
    cursor: pointer !important;
    border: 0 !important;
    vertical-align: middle;
    background: transparent url("themes/btn_filter.png") center center no-repeat !important;
}

.flt,
.flt_s,
.single_flt {
    font-family: inherit;
    font-size: inherit;
    color: #444;
    background-color: #fff;
        width: 85%;

    border: 1px inset #f4f4f4;

    padding: 0 0 0 0.2em;
    height: 35px;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
}

.flt:focus,
.flt_s:focus,
.single_flt:focus {
    border-color: #66afe9;
    outline: 0 none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

select.flt_multi {
    font-family: inherit;
    font-size: inherit;
    color: #444;
    background-color: #fff;
    border: 1px solid #f4f4f4;
    margin: 0;
    padding: 0.2em;
    width: 85%;
    height: 90px;
    vertical-align: middle;
    box-sizing: border-box;
}

select.flt_multi option {
    padding-top: 5px;
    padding-bottom: 5px;
}

.flt_s {
    width: 60%;
    box-sizing: initial;
    display: initial;
}

.single_flt {
    width: 70%;
    box-sizing: initial;
    display: initial;
}

div.popUpFilter {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 3px 3px 2px #888;
    -moz-box-shadow: 3px 3px 2px #888;
    box-shadow: 3px 3px 2px #888;
    margin: 30px auto 0 0;
    position: absolute;
    display: none;
    width: 100%;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    padding: 0;
}

div.popUpFilter:after,
div.popUpFilter:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

div.popUpFilter:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

div.popUpFilter:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #eaeaea;
    border-width: 12px;
    margin-left: -12px;
}

.popUpPlaceholder {
    position: relative;
}

div.grd_Cont {
    -webkit-box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 4px 4px 10px 0 rgba(50, 50, 50, 0.75);
    width: 100px;
    height: auto;
    overflow: hidden;
    background-color: #c8e0fb;
    border: 1px solid #99bbe8;
}

div.grd_Cont .fltrow {
    background-color: transparent;
}

div.grd_Cont .flt {
    border: 1px solid #99bbe8;
    /*width: 100%;*/
}

div.grd_Cont .flt :focus {
    border: 1px solid #558dd9;
}

div.grd_Cont .even {
    background-color: #fff;
}

div.grd_Cont .odd {
    background-color: #dfe8f6;
}

div.grd_Cont .no-results {
    background-color: transparent;
}

div.grd_Cont .sort-arrow {
    position: initial;
}

div.grd_tblCont {
    height: 400px;
    /*width: 800px;*/
    background: #fff;
    overflow-x: auto;
    overflow-y: scroll;
}

div.grd_headTblCont {
    display: block;
    margin-right: 20px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #99bbe8;
    background-color: #c8e0fb;
}

div.grd_tblCont table,
div.grd_headTblCont table {
    border-collapse: collapse;
    table-layout: fixed;
    box-sizing: initial;
}

div.grd_tblCont table th,
div.grd_headTblCont table th,
div.grd_headTblCont table td {
    height: 35px;
    background-color: #c8e0fb;
    padding: 0.1em 0.5em;
    color: #333;
    border-right: 1px solid #99bbe8 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.grd_headTblCont table td {
    padding: 0.2em 0.2em;
}

div.grd_tblCont table td {
    padding: 0.5em 0.7em;
    border-bottom: 1px solid #99bbe8;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grd_inf {
    clear: both;
    width: 1600px;
    height: 35px;
    background-color: #c8e0fb;
    margin: 0;
    padding: 1px 3px 1px 3px;

}

.grd_inf a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.grd_inf a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.grd_inf input.reset:hover {
    background-color: transparent;
}

.grd_inf .mdiv {
    width: 40% !important;
}

.grd_inf .ldiv div {
    border: 0;
}

.grd_inf .helpBtn {
    border: 0 !important;
}

.grd_inf div.status {
    position: absolute;
    float: none !important;
    height: auto !important;
    margin: 19px 0 !important;
    font-size: 12px;
    color: #fff;
    border: 0 !important;
}

.grd_inf div.tot {
    border: 0 !important;
}
.grd_inf input{
width: 100%;
}

.helpBtn {
    display: inline-block;
    height: 27px;
    margin: 0;
    padding: 8px 15px 0 15px;
    vertical-align: top;
}

.helpBtn:hover {
    background-color: #f4f4f4;
}

div.helpCont {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 3px 3px 2px #888;
    -moz-box-shadow: 3px 3px 2px #888;
    box-shadow: 3px 3px 2px #888;
    position: absolute;
    display: none;
    width: 300px;
    padding: 10px;
    margin: 45px 0 0 -150px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-size: inherit;
    color: #333;
    background: #fff;
    text-align: left;
    z-index: 1000;
}

div.helpCont:after,
div.helpCont:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

div.helpCont:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

div.helpCont:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ccc;
    border-width: 12px;
    margin-left: -12px;
}

div.helpCont a {
    color: #c00;
    text-decoration: underline;
    font-weight: normal;
}

div.helpCont a.close {
    color: #333 !important;
    text-decoration: none !important;
    font-weight: bold;
}

div.helpCont a.close:hover {
    text-decoration: none;
}

div.helpCont hr {
    border: 1px solid #ccc;
}

div.helpFooter {
    margin: 10px 0 0 0;
}

div.helpFooter h4 {
    margin: 2px 2px 2px 2px;
    color: #333;
}

span.keyword {
    font-weight: 700;
    font-style: bold;
    border-bottom: 1px dotted #ccc;
}

.loader {
    position: absolute;
    padding: 0.5em 0.7em;
    margin: 10em 0 0 3em;
    width: auto;
    z-index: 1000;
    font-weight: 600;
    background-color: #a7a7a8;
    vertical-align: middle;
    border-radius: 10px;
    color: #fff;
    text-shadow: 1px 1px #333;
}

.no-results {
    display: none;
    color: #333;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    max-height: 5em;
    background-color: #86c232;
}

select.pgSlc {
    height: 35px;
    margin: 0;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    vertical-align: middle;
}

select.pgSlc:focus {
    border-color: #66afe9;
    outline: 0 none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

input.pgNbInp {
    height: 35px;
    margin: 0;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    width: 35px;
}

input.pgNbInp:focus {
    border-color: #66afe9;
    outline: 0 none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

input.pgInp,
.nextPage,
.previousPage,
.firstPage,
.lastPage {
    height: 35px;
    margin: 0;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    vertical-align: middle;
    width: 35px;
    border: 0;
    font-weight: bold;
}

input.pgInp:focus,
.nextPage:focus,
.previousPage:focus,
.firstPage:focus,
.lastPage:focus {
    border-color: #66afe9;
    outline: 0 none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.nextPage {
    background: transparent url("themes/btn_next_page.gif") center center no-repeat !important;
}

.nextPage:hover {
    background-color: #f4f4f4 !important;
}

.previousPage {
    background: transparent url("themes/btn_previous_page.gif") center center no-repeat !important;
}

.previousPage:hover {
    background-color: #f4f4f4 !important;
}

.firstPage {
    background: transparent url("themes/btn_first_page.gif") center center no-repeat !important;
}

.firstPage:hover {
    background-color: #f4f4f4 !important;
}

.lastPage {
    background: transparent url("themes/btn_last_page.gif") center center no-repeat !important;
}

.lastPage:hover {
    background-color: #f4f4f4 !important;
}

span.nbpg {
    padding: 0 5px;
}

select.rspg {
    height: 35px;
    margin: 0;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    margin: 0 0 0 5px;
    vertical-align: middle;
}

select.rspg:focus {
    border-color: #66afe9;
    outline: 0 none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

span.rspgSpan {
    font-size: inherit;
}

input.reset {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 0;
    background: transparent url("themes/btn_clear_filters.png") center center no-repeat;
    vertical-align: top;
}

input.reset:hover {
    background-color: #f4f4f4;
}

a.reset {
    font-weight: normal !important;
    line-height: 35px;
    padding: 5px 5px;
}

div.tot {
    float: left;
    overflow: hidden;
    min-width: 150px;
    height: 100%;
    margin: 0;
    padding: 0.5em;
    vertical-align: middle;
}

div.tot span {
    font-weight: 500;
}

/*.sort-arrow {
    position: absolute;
    display: none;
    width: 11px;
    height: 11px;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
*/

.descending {
    display: inline;
    background-image: url("themes/downsimple.png");
}

.ascending {
    display: inline;
    background-image: url("themes/upsimple.png");
}

div.status {
    float: left;
    overflow: hidden;
    min-width: 120px;
    height: 100%;
    margin: 0;
    padding: 0.5em;
}

div.status span {
    font-size: inherit;
}

table.TF {
    font-family: inherit;
    border-spacing: 0;
    border: 0;
}

table.TF th {
    height: 35px;
    margin: 0;
    background-color: #eaeaea;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #ccc;
    border-right: 1px solid #f4f4f4;
    padding: 0.1em 0.7em;
    color: #333;
}

table.TF th:last-child {
    border-right: 1px solid #ccc;
}

table.TF td {
    margin: 0;
    padding: 0.5em 0.7em;
    border-bottom: 1px solid #c6c6c6;
    text-overflow: ellipsis;
}

table.TF.resp {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

/*table.TF.resp .sort-arrow {
    position: initial;
} */

table.TF.sticky th {
    position: sticky;
    top: -1px;
}

.inf {
    clear: both;
   width: auto;
    height: 35px;
    min-width: 400px;
    background-color: #fff;
    font-size: inherit;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.inf a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    box-sizing: initial;
}

.inf a:hover {
    text-decoration: underline;
}

.ldiv {
    float: left;
    width: 30%;
    position: inherit;
    text-align: left;
}

.ldiv:empty:after {
    content: "\00A0";
}

.mdiv {
    float: left;
    width: 38%;
    position: inherit;
    text-align: center;
    padding: 0;
}

.mdiv:empty:after {
    content: "\00A0";
}

.rdiv {
    float: right;
    width: 30%;
    position: inherit;
    text-align: right;
}

.rdiv:empty:after {
    content: "\00A0";
}
